<section class="section-header">
  BENEFITS
</section>
<section>
  <div class="balance-section benefit-section">
    <div class="benefit-img">
    </div>
    <div class="benefit-info">
      <div class="info-text">
        <div class="info-header lead">IMPROVES YOUR BALANCE</div>
        Balance is vital in all aspects of life.
        Having good balance will follow you until your later ages.
        Since a slack line is a flexible, elastic rope, it takes an
        extreme amount of balance and coordination to keep yourself up.
      </div>
    </div>
  </div>
</section>
<section>
  <div class="core-section benefit-section reverse">
    <div class="benefit-img">
    </div>
    <div class="benefit-info">
      <div class="info-text">
        <div class="info-header lead">STRENGTHENS YOUR CORE</div>
        For those of us who hate the weight room, but want to improve our
        strength, slacklining is a great way to activate core and lower body
        muscle development.
      </div>
    </div>
  </div>
</section>
<section>
  <div class="balance-section benefit-section">
    <div class="benefit-img">
    </div>
    <div class="benefit-info">
      <div class="info-text">
        <div class="info-header lead">MEDITATIVE</div>
         Walking on a slack line can be described as a moving meditation.
         Traditional meditation requires us to draw inwards and reflect,
         but in slack lining, you take that same inner focus and apply it.
      </div>
    </div>
  </div>
</section>
<section>
  <div class="core-section benefit-section reverse">
    <div class="benefit-img">
    </div>
    <div class="benefit-info">
      <div class="info-text">
        <div class="info-header lead">Promotes Social Interaction</div>
        Slack lining is a social activity that serves as a great workout with
        friends. Furthermore, having friends with you can encourage you to
        exceed your limits in this exercise, and since slack lines are usually
        set up between trees in public areas, curious passersby may even be
        willing to watch and join in on the fun! And because slack lines come
        in various lengths and widths depending on experience and how daring
        a rope-walker wants to be, all levels of experience are welcome.
      </div>
    </div>
  </div>
</section>
