
<section class="section-header">
  PROJECTS
</section>
<section>

  <div style="display:flex;">
    <div style="flex:1">
      <div style="padding: 30px; font-size: 30px;">
        Slack Saturdays @Amaora Park Town, Pune<br/>
        <a href="https://www.facebook.com/freefeet.in" target="_blank">RSVP</a>
      </div>
    </div>
    <div class="fb-page" data-href="https://www.facebook.com/freefeet.in" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/freefeet.in" class="fb-xfbml-parse-ignore">
      <a href="https://www.facebook.com/freefeet.in">Free feet</a>
    </blockquote>
    </div>
  </div>
</section>
