
<section class="section-header">
  PROJECTS
</section>
<section class="projects" style="height: 500px;">
  <div style="display:flex;justify-content: space-evenly;">
    <div class="card" style="width: 30%;margin: 30px;">
      <div>
        <img class="card-img-top" style="width:100%;" src="../img/amanora-project.jpeg" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h3 class="card-title">Slack Tuesdays @Amaora Park Town</h3>
        <h5> 7:00 AM - 9:00 AM </h5>
        <p class="card-text" style="font-size: 18px;">Come and learn slacklining with us at amanora park every Tuesday</p>
        <a href="#" class="btn btn-primary">RSVP</a>
      </div>
    </div>
  </div>
</section>
