<section class="section-header">
  TEAM
</section>
<section style="height: 450px;">
  <div style="display:flex;justify-content: space-evenly;">
    <div class="card text-center" style="width: 30%;margin: 30px;">
      <div>
        <img class="card-img-top" style="width:200px;" src="../img/aditya.png" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h3 class="card-title">Aditya Tibrewal</h3>
      </div>
    </div>
    <div class="card text-center" style="width: 30%;margin: 30px;">
      <div>
        <img class="card-img-top"  style="width:200px;" src="../img/apurv.png" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h3 class="card-title">Apurv Gujar</h3>
      </div>
    </div>
  </div>
</section>
