<section class="section-header">
  TEAM
</section>
<section>
  <div style="display:flex;justify-content: space-evenly;flex-wrap: wrap;">
    <div class="card text-center" style="margin: 30px;">
      <div>
        <img class="card-img-top" style="width:200px;" src="../img/aditya.jpg" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h3 class="card-title">Aditya Tibrewal</h3>
      </div>
    </div>
    <div class="card text-center" style="margin: 30px;">
      <div>
        <img class="card-img-top"  style="width:200px;" src="../img/apurv.png" alt="Card image cap">
      </div>
      <div class="card-body text-center">
        <h3 class="card-title">Apurv Gujar</h3>
      </div>
    </div>
  </div>
</section>
