body, html {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}


section{
  height: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito";
  font-weight: 700;
}

#about {
  background-color: #6d9728;
  color: white;
  font-size: 2rem;
  padding: 5% 10%;
}

.section-header{
  font-size: 30px;
  text-align: center;
  padding: 30px;
  background-color: #7b8d98;
  color: white;
}

.benefit-section {
  display: flex;
  height: 400px;
  & > div{
    flex: 1;
  }
  &.reverse{
    flex-flow: row-reverse;
  }
  .benefit-info{
    align-self: center;
  }
  .info-text{
    font-size: 2rem;
  }
}

@media screen and (max-width: 780px) {
  .benefit-section .info-text{
    font-size: 1.4rem;
  }
}

.benefit-img{
  background: url(../img/balance.jpg) no-repeat center center;
  background-size: cover;
  background-position-x: 85%;
}

.core-section {
  .benefit-img{
    background: url(../img/core.jpg) no-repeat center center;
    background-size: cover;
  }
}
.meditative-section {
  .benefit-img{
    background: url(../img/meditative.jpg) no-repeat center center;
    background-size: cover;
  }
}

.social-section {
  .benefit-img{
    background: url(../img/social.jpg) no-repeat center center;
    background-size: cover;
  }
}


.benefit-info .info-text{
  width: 80%;
  margin: auto;
}



.intro-header {
  /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
  color: #f8f8f8;
  background: url(../img/intro-bg.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 500px;
}
.section-header{
  font-size: 30px;
  text-align: center;
}


footer {
  padding: 50px 0;
  background-color: #f8f8f8;
}
